@import 'variable';

body { 
    margin: 0 auto;
    padding: 0;
    background-color: #f8f8f8;
}

.nav {
    display: inline-flex;
    justify-content: space-between;
    padding: 0 5em;
    align-items: center;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height:5em;
    border-bottom: 1px solid $prime;
    transition: all .5s;
    @media (max-width: 500px) {
        padding: 0 2em;
    }
    .logo {
        font-family: $font;
        color: $prime;
        font-size: 2.5em;
        font-weight: 700;
        @media (max-width: 500px) {
            font-size: 2em;
        }
    }
    ul {
        display: flex;
        list-style: none;
        font-family: $font;
        font-size: 1.25em;
        font-weight: 700;
        @media (max-width: 500px) {
            font-size: 1em;
        }
        li {
            margin: 0;
            padding: 1em;
            @media (max-width: 500px) {
                padding: .75em;
            }
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}

.nav-colored {
    background-color: $prime;
    color: #fff;
}
.nav-transparent {
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#landingPage {
    width: 80%;
    height: 100%;
    padding-bottom: 5em;
    #firstText {
        padding-top: 15em;
        @media (max-width: 500px) {
            padding-top: 10em;
        }
    }
}

.head {
    font-family: $font;
    font-weight: 700;
    font-size: 3em;
    color: $prime;
    @media (max-width: 500px) {
        font-size: 2em;
    }
}

a {
    text-decoration: none;
}

.content {
    padding: 2em 0;
    width: 80%;
    .contentWrap {
        padding: 1em 0 4em;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        height: inherit;
    }
}

.textContent {
    width: 60%;
    font-family: $font;
    font-size: 18px;
    line-height: 1.2;
    @media (max-width: 1000px) {
        width: 80%;
    }
    @media (max-width: 768px) {
        width: 90%;
    }
    @media (max-width: 700px) {
        font-size: 16px;
    }
    p {
        margin: 28px 0;
    }
    #headerText {
        font-size: 20px;
    }
}

.personal {
    background-size: contain;
    width: 320px;
    height: 456px;
    @media (max-width: 1000px) {
        margin: 0 auto;
    }
    @media (max-width: 600px) {
        width: 200px;
        height: auto;
    }
}

.sparta {
    width: 300px;
    height: auto;
    background-size: contain;
    margin: 2em 0;
}

#contact {
    width: 80%;
    margin: 2em 10em 4em;
    font-family: $font;
//    font-size: 24px;
    #contactWrap {
        padding: 1em 0 3em;
        margin: 0 auto;
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        height: inherit;
    
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }    
}


form {
    margin: .5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: $font;
    border-radius: .5em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    input, textarea {
        margin: 1em auto;
        padding: .5em;
        width: 75%;
        border: none;
        border-bottom: 1px solid #000;
    }
    textarea {
        height: 4em;
    }
    button {
        width: 10em;
        height: 2.5em;
        margin: 1em auto;
        border: none;
        font-family: $font;
        font-size: 1.25em;
        background-color: $prime;
        color: #fff;
        border-radius: .5em;
        cursor: pointer;
        &:hover {
            background-color: #7f2b4a;
        }
    }
    
}

footer {
    width: 100%;
    height: 100px;
    background-color: $prime;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 700px) {
        flex-wrap: wrap;
    }
    #foot {
        font-family: $font;
        color: #fff;
        font-size: 2.5em;
        font-weight: 700;
        @media (max-width: 480px) {
            font-size: 2em;
        }
    }
    #social {
        display: flex;
        width: 40%;
        justify-content: space-around;
        img {
            width: 80%;
        }
    }
    .text {
        font-family: $font;
        font-size: 1em;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

.moar {
    padding-top: 5em;
}

.bigish {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.halfish {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 25%;
    height: 25%;
    text-align: center;
    @media (max-width: 1000px) {
        width: 50%;
        height: 50%;
    }
    @media (max-width: 500px) {
        width: 60%;
        height: 60%;
    }
}


.frontImg {
    position: relative;
    text-align: center;
    &:hover .text {
        text-decoration: underline;
        left: 5%;
    }
    .frontPage {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    #black {
        color: #000;
    }
    .text {
        position: absolute;
        color: #fff;
        z-index: 5;
        font-family: $font;
        left: 3%;
        transition: all .7s ease;
    }
        .main {
            top: .5em;
            font-size: 3em;
            font-weight: 700;
            letter-spacing: .5rem;
            @media (max-width: 900px) {
                font-size: 1.75em;
                letter-spacing: .35rem;
//                top:1em;
            }
            @media (max-width: 700px) {
                font-size: 1.25em;
            }
            @media (max-width: 500px) {
                font-size: 1em;
                letter-spacing: .2rem;
            }
        }
        .sub {
            top: 3.5em;
            font-size: 1.5em;
            font-style: italic;
            letter-spacing: .1rem;
            @media (max-width: 900px) {
                font-size: 1.15em;
            }
            @media (max-width: 700px) {
                font-size: 1em;
            }
            @media (max-width: 500px) {
                font-size: .5em;
            }
        }
}

.o_btn {
    width: 250px;
    height: 60px;
    border-radius: 3px;
    background-color: $prime;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .fa-arrow-right {
        font-size: 1.5em;
        margin: 0 auto;
        transition: transform .125s linear;
    }
    &:hover .fa-arrow-right {
        transform: translateX(10px);
    }
    span {
        display: flex;
        font-family: $font;
        font-size: 1.5em;
        font-weight: 700;
        margin: 0 auto;
        overflow: hidden;
        color: #fff;
        transition: transform .125s linear;
    }
    &:hover span {
            transform: translateX(30px);
        }
    i{
        color: #fff;
        margin: 0 auto;
        display: flex;
    }
}
