/* line 3, ../sass/style.scss */
body {
  margin: 0 auto;
  padding: 0;
}

/* line 8, ../sass/style.scss */
.nav {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 5em;
  align-items: center;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 5em;
  border-bottom: 1px solid #A53860;
}
/* line 21, ../sass/style.scss */
.nav .logo {
  font-family: "DM Sans", sans-serif;
  color: #A53860;
  font-size: 2.5em;
  font-weight: 700;
}
/* line 27, ../sass/style.scss */
.nav ul {
  display: flex;
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}
/* line 33, ../sass/style.scss */
.nav ul li {
  margin: 0;
  padding: 1em;
}
/* line 36, ../sass/style.scss */
.nav ul li a {
  text-decoration: none;
  color: #000;
}

/* line 44, ../sass/style.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* line 50, ../sass/style.scss */
#landingPage {
  width: 100vw;
  height: 100vh;
}
/* line 53, ../sass/style.scss */
#landingPage #firstText {
  padding-top: 20em;
}

/* line 58, ../sass/style.scss */
.head {
  margin-left: 5em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #A53860;
}

/* line 66, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 70, ../sass/style.scss */
#hero {
  content: '';
}
/* line 72, ../sass/style.scss */
#hero #notorious {
  background-size: contain;
  width: 100%;
  height: auto;
}

/* line 79, ../sass/style.scss */
#work {
  padding: 5em 0;
}
/* line 81, ../sass/style.scss */
#work #workWrap {
  padding: 1em 0 3em;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  height: inherit;
}

/* line 94, ../sass/style.scss */
.newComp {
  width: 300px;
  margin: 4em 0;
  border-radius: 1em;
  background-color: #fff;
  margin-bottom: 1em;
  box-shadow: 4px 10px 17px -8px rgba(0, 0, 0, 0.68);
  overflow: hidden;
}
@media (max-width: 933px) {
  /* line 94, ../sass/style.scss */
  .newComp {
    width: 300px;
  }
}
@media (max-width: 799px) {
  /* line 94, ../sass/style.scss */
  .newComp {
    width: 250px;
  }
}
/* line 108, ../sass/style.scss */
.newComp .compImg {
  width: inherit;
  height: auto;
  background-size: contain;
}
/* line 113, ../sass/style.scss */
.newComp .subContent {
  padding: .5em 0 .75em .5em;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0 .5em;
  align-items: center;
}
/* line 120, ../sass/style.scss */
.newComp .subContent .text {
  font-family: "DM Serif Text", serif;
  font-style: italic;
  color: #000;
  font-size: 1em;
}
@media (max-width: 799px) {
  /* line 120, ../sass/style.scss */
  .newComp .subContent .text {
    font-size: 1.25em;
  }
}
/* line 129, ../sass/style.scss */
.newComp .subContent .subText {
  width: 2em;
}

/* line 135, ../sass/style.scss */
#about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 9em;
  padding-bottom: 4em;
}
/* line 141, ../sass/style.scss */
#about .textContent {
  width: 505px;
  font-family: "DM Serif Text", serif;
  font-size: 16px;
}
/* line 145, ../sass/style.scss */
#about .textContent p {
  margin: 28px 0;
}
/* line 148, ../sass/style.scss */
#about .textContent #headerText {
  font-size: 20px;
}
/* line 152, ../sass/style.scss */
#about .personal {
  background-size: contain;
  width: 320px;
  height: 456px;
}

/* line 159, ../sass/style.scss */
#contact {
  width: 65%;
  margin: 2em 10em 4em;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
}
/* line 164, ../sass/style.scss */
#contact ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
/* line 168, ../sass/style.scss */
#contact ul li {
  list-style: none;
}
/* line 170, ../sass/style.scss */
#contact ul li a {
  text-decoration: none;
  color: #000;
}

/* line 178, ../sass/style.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #A53860;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 185, ../sass/style.scss */
footer #foot {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
}
/* line 191, ../sass/style.scss */
footer .text {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}
/* line 195, ../sass/style.scss */
footer a {
  color: #fff;
  text-decoration: none;
}
