/* line 3, ../sass/style.scss */
body {
  margin: 0 auto;
  padding: 0;
  background-color: #f8f8f8;
}

/* line 9, ../sass/style.scss */
.nav {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 5em;
  align-items: center;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 5em;
  border-bottom: 1px solid #A53860;
  transition: all .5s;
}
@media (max-width: 500px) {
  /* line 9, ../sass/style.scss */
  .nav {
    padding: 0 2em;
  }
}
/* line 26, ../sass/style.scss */
.nav .logo {
  font-family: "DM Sans", sans-serif;
  color: #A53860;
  font-size: 2.5em;
  font-weight: 700;
}
@media (max-width: 500px) {
  /* line 26, ../sass/style.scss */
  .nav .logo {
    font-size: 2em;
  }
}
/* line 35, ../sass/style.scss */
.nav ul {
  display: flex;
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}
@media (max-width: 500px) {
  /* line 35, ../sass/style.scss */
  .nav ul {
    font-size: 1em;
  }
}
/* line 44, ../sass/style.scss */
.nav ul li {
  margin: 0;
  padding: 1em;
}
@media (max-width: 500px) {
  /* line 44, ../sass/style.scss */
  .nav ul li {
    padding: .75em;
  }
}
/* line 50, ../sass/style.scss */
.nav ul li a {
  text-decoration: none;
  color: #000;
}

/* line 58, ../sass/style.scss */
.nav-colored {
  background-color: #A53860;
  color: #fff;
}

/* line 62, ../sass/style.scss */
.nav-transparent {
  background-color: #fff;
}

/* line 66, ../sass/style.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* line 74, ../sass/style.scss */
#landingPage {
  width: 80%;
  height: 100%;
  padding-bottom: 6em;
}
/* line 78, ../sass/style.scss */
#landingPage #firstText {
  padding-top: 10em;
}
@media (max-width: 500px) {
  /* line 78, ../sass/style.scss */
  #landingPage #firstText {
    padding-top: 10em;
  }
}
/* line 83, ../sass/style.scss */
#landingPage #firstText .subhead {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5em;
  color: #A53860;
}

/* line 91, ../sass/style.scss */
.head {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #A53860;
}
@media (max-width: 500px) {
  /* line 91, ../sass/style.scss */
  .head {
    font-size: 2em;
  }
}

/* line 101, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 105, ../sass/style.scss */
.content {
  padding: 2em 0;
  width: 80%;
}
/* line 108, ../sass/style.scss */
.content .contentWrap {
  padding: 1em 0 4em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}

/* line 120, ../sass/style.scss */
.textContent {
  width: 60%;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1000px) {
  /* line 120, ../sass/style.scss */
  .textContent {
    width: 80%;
  }
}
@media (max-width: 768px) {
  /* line 120, ../sass/style.scss */
  .textContent {
    width: 90%;
  }
}
@media (max-width: 700px) {
  /* line 120, ../sass/style.scss */
  .textContent {
    font-size: 16px;
  }
}
/* line 134, ../sass/style.scss */
.textContent p {
  margin: 28px 0;
}
/* line 137, ../sass/style.scss */
.textContent #headerText {
  font-size: 20px;
}

/* line 142, ../sass/style.scss */
.personal {
  background-size: contain;
  width: 320px;
  height: 456px;
}
@media (max-width: 1000px) {
  /* line 142, ../sass/style.scss */
  .personal {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  /* line 142, ../sass/style.scss */
  .personal {
    width: 200px;
    height: auto;
  }
}

/* line 155, ../sass/style.scss */
.sparta {
  width: 300px;
  height: auto;
  background-size: contain;
  margin: 2em 0;
}

/* line 162, ../sass/style.scss */
#contact {
  width: 80%;
  margin: 2em 10em 4em;
  font-family: "DM Sans", sans-serif;
}
/* line 167, ../sass/style.scss */
#contact #contactWrap {
  padding: 1em 0 3em;
  margin: 0 auto;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}
/* line 178, ../sass/style.scss */
#contact #contactWrap ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
/* line 182, ../sass/style.scss */
#contact #contactWrap ul li {
  list-style: none;
}
/* line 184, ../sass/style.scss */
#contact #contactWrap ul li a {
  text-decoration: none;
  color: #000;
}

/* line 194, ../sass/style.scss */
form {
  margin: .5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  border-radius: .5em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/* line 204, ../sass/style.scss */
form input, form textarea {
  margin: 1em auto;
  padding: .5em;
  width: 75%;
  border: none;
  border-bottom: 1px solid #000;
}
/* line 211, ../sass/style.scss */
form textarea {
  height: 4em;
}
/* line 214, ../sass/style.scss */
form button {
  width: 10em;
  height: 2.5em;
  margin: 1em auto;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  background-color: #A53860;
  color: #fff;
  border-radius: .5em;
  cursor: pointer;
}
/* line 225, ../sass/style.scss */
form button:hover {
  background-color: #7f2b4a;
}

/* line 232, ../sass/style.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #A53860;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  /* line 232, ../sass/style.scss */
  footer {
    flex-wrap: wrap;
  }
}
/* line 243, ../sass/style.scss */
footer #foot {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
}
@media (max-width: 480px) {
  /* line 243, ../sass/style.scss */
  footer #foot {
    font-size: 2em;
  }
}
/* line 252, ../sass/style.scss */
footer #social {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
/* line 256, ../sass/style.scss */
footer #social img {
  width: 80%;
}
/* line 260, ../sass/style.scss */
footer .text {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}
/* line 264, ../sass/style.scss */
footer a {
  color: #fff;
  text-decoration: none;
}

/* line 270, ../sass/style.scss */
.moar {
  padding-top: 5em;
}

/* line 274, ../sass/style.scss */
.bigish {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 284, ../sass/style.scss */
.halfish {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 25%;
  height: 25%;
  text-align: center;
}
@media (max-width: 1000px) {
  /* line 284, ../sass/style.scss */
  .halfish {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 500px) {
  /* line 284, ../sass/style.scss */
  .halfish {
    width: 60%;
    height: 60%;
  }
}

/* line 303, ../sass/style.scss */
.frontImg {
  position: relative;
  text-align: center;
}
/* line 306, ../sass/style.scss */
.frontImg:hover .text {
  text-decoration: underline;
  left: 5%;
}
/* line 310, ../sass/style.scss */
.frontImg .frontPage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/* line 318, ../sass/style.scss */
.frontImg #black {
  color: #000;
}
/* line 321, ../sass/style.scss */
.frontImg .text {
  position: absolute;
  color: #fff;
  z-index: 5;
  font-family: "DM Sans", sans-serif;
  left: 3%;
  transition: all .7s ease;
}
/* line 329, ../sass/style.scss */
.frontImg .main {
  top: .5em;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: .5rem;
}
@media (max-width: 900px) {
  /* line 329, ../sass/style.scss */
  .frontImg .main {
    font-size: 1.75em;
    letter-spacing: .35rem;
  }
}
@media (max-width: 700px) {
  /* line 329, ../sass/style.scss */
  .frontImg .main {
    font-size: 1.25em;
  }
}
@media (max-width: 500px) {
  /* line 329, ../sass/style.scss */
  .frontImg .main {
    font-size: 1em;
    letter-spacing: .2rem;
  }
}
/* line 347, ../sass/style.scss */
.frontImg .sub {
  top: 3.5em;
  font-size: 1.5em;
  font-style: italic;
  letter-spacing: .1rem;
}
@media (max-width: 900px) {
  /* line 347, ../sass/style.scss */
  .frontImg .sub {
    font-size: 1.15em;
  }
}
@media (max-width: 700px) {
  /* line 347, ../sass/style.scss */
  .frontImg .sub {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  /* line 347, ../sass/style.scss */
  .frontImg .sub {
    font-size: .5em;
  }
}

/* line 364, ../sass/style.scss */
.o_btn {
  width: 250px;
  height: 60px;
  border-radius: 3px;
  background-color: #A53860;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* line 374, ../sass/style.scss */
.o_btn .fa-arrow-right {
  font-size: 1.5em;
  margin: 0 auto;
  transition: transform .125s linear;
}
/* line 379, ../sass/style.scss */
.o_btn:hover .fa-arrow-right {
  transform: translateX(10px);
}
/* line 382, ../sass/style.scss */
.o_btn span {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  transition: transform .125s linear;
}
/* line 392, ../sass/style.scss */
.o_btn:hover span {
  transform: translateX(30px);
}
/* line 395, ../sass/style.scss */
.o_btn i {
  color: #fff;
  margin: 0 auto;
  display: flex;
}
