/* line 3, ../sass/style.scss */
body {
  margin: 0 auto;
  padding: 0;
  background-color: #f8f8f8;
}

/* line 9, ../sass/style.scss */
.nav {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 5em;
  align-items: center;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 5em;
  border-bottom: 1px solid #A53860;
  transition: all .5s;
}
@media (max-width: 500px) {
  /* line 9, ../sass/style.scss */
  .nav {
    padding: 0 2em;
  }
}
/* line 25, ../sass/style.scss */
.nav .logo {
  font-family: "DM Sans", sans-serif;
  color: #A53860;
  font-size: 2.5em;
  font-weight: 700;
}
@media (max-width: 500px) {
  /* line 25, ../sass/style.scss */
  .nav .logo {
    font-size: 2em;
  }
}
/* line 34, ../sass/style.scss */
.nav ul {
  display: flex;
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}
@media (max-width: 500px) {
  /* line 34, ../sass/style.scss */
  .nav ul {
    font-size: 1em;
  }
}
/* line 43, ../sass/style.scss */
.nav ul li {
  margin: 0;
  padding: 1em;
}
@media (max-width: 500px) {
  /* line 43, ../sass/style.scss */
  .nav ul li {
    padding: .75em;
  }
}
/* line 49, ../sass/style.scss */
.nav ul li a {
  text-decoration: none;
  color: #000;
}

/* line 57, ../sass/style.scss */
.nav-colored {
  background-color: #A53860;
  color: #fff;
}

/* line 61, ../sass/style.scss */
.nav-transparent {
  background-color: #fff;
}

/* line 65, ../sass/style.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* line 73, ../sass/style.scss */
#landingPage {
  width: 80%;
  height: 100%;
  padding-bottom: 10em;
}
/* line 77, ../sass/style.scss */
#landingPage #firstText {
  padding-top: 20em;
}
@media (max-width: 480px) {
  /* line 77, ../sass/style.scss */
  #landingPage #firstText {
    padding-top: 10em;
  }
}

/* line 85, ../sass/style.scss */
.head {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #A53860;
}
@media (max-width: 480px) {
  /* line 85, ../sass/style.scss */
  .head {
    font-size: 2em;
  }
}

/* line 95, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 99, ../sass/style.scss */
#hero {
  content: '';
}
/* line 101, ../sass/style.scss */
#hero #notorious {
  background-size: contain;
  width: 100%;
  height: auto;
}

/* line 108, ../sass/style.scss */
.content {
  padding: 5em 0;
  width: 80%;
}
@media (max-width: 768px) {
  /* line 108, ../sass/style.scss */
  .content {
    padding: 3em 0;
  }
}
/* line 114, ../sass/style.scss */
.content .contentWrap {
  padding: 1em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}

/* line 126, ../sass/style.scss */
.textContent {
  width: 60%;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1000px) {
  /* line 126, ../sass/style.scss */
  .textContent {
    width: 80%;
  }
}
@media (max-width: 768px) {
  /* line 126, ../sass/style.scss */
  .textContent {
    width: 90%;
  }
}
@media (max-width: 700px) {
  /* line 126, ../sass/style.scss */
  .textContent {
    font-size: 16px;
  }
}
/* line 140, ../sass/style.scss */
.textContent p {
  margin: 28px 0;
}
/* line 143, ../sass/style.scss */
.textContent #headerText {
  font-size: 20px;
}

/* line 148, ../sass/style.scss */
.personal {
  background-size: contain;
  width: 320px;
  height: 456px;
}
@media (max-width: 1000px) {
  /* line 148, ../sass/style.scss */
  .personal {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  /* line 148, ../sass/style.scss */
  .personal {
    width: 200px;
    height: auto;
  }
}

/* line 161, ../sass/style.scss */
.sparta {
  width: 300px;
  height: auto;
  background-size: contain;
  margin: 2em 0;
}

/* line 168, ../sass/style.scss */
.newComp {
  width: 275px;
  margin: 4em 0;
  border-radius: .5em;
  background-color: #fff;
  margin-bottom: 1em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: box-shadow .25s linear;
}
/* line 177, ../sass/style.scss */
.newComp:hover {
  box-shadow: 0 20px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
@media (max-width: 680px) {
  /* line 168, ../sass/style.scss */
  .newComp {
    margin: 2em auto;
    width: 175px;
  }
}
@media (max-width: 480px) {
  /* line 168, ../sass/style.scss */
  .newComp {
    margin: .8em auto;
    width: 125px;
  }
}
/* line 188, ../sass/style.scss */
.newComp .compImg {
  width: inherit;
  height: auto;
  background-size: contain;
}
/* line 193, ../sass/style.scss */
.newComp .subContent {
  padding: .5em 0 .75em .5em;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0 .5em;
  align-items: center;
}
@media (max-width: 500px) {
  /* line 193, ../sass/style.scss */
  .newComp .subContent {
    height: 30px;
  }
}
/* line 203, ../sass/style.scss */
.newComp .subContent .text {
  font-family: "DM Serif Text", serif;
  font-style: italic;
  color: #000;
  font-size: 1em;
}
@media (max-width: 500px) {
  /* line 203, ../sass/style.scss */
  .newComp .subContent .text {
    font-size: .8em;
  }
}
/* line 212, ../sass/style.scss */
.newComp .subContent .subText {
  width: 2em;
}
@media (max-width: 500px) {
  /* line 212, ../sass/style.scss */
  .newComp .subContent .subText {
    width: 1.5em;
  }
}

/* line 221, ../sass/style.scss */
#contact {
  width: 80%;
  margin: 2em 10em 4em;
  font-family: "DM Sans", sans-serif;
}
/* line 226, ../sass/style.scss */
#contact #contactWrap {
  padding: 1em 0 3em;
  margin: 0 auto;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}
/* line 237, ../sass/style.scss */
#contact #contactWrap ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
/* line 241, ../sass/style.scss */
#contact #contactWrap ul li {
  list-style: none;
}
/* line 243, ../sass/style.scss */
#contact #contactWrap ul li a {
  text-decoration: none;
  color: #000;
}

/* line 253, ../sass/style.scss */
form {
  margin: .5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  border-radius: .5em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/* line 263, ../sass/style.scss */
form input, form textarea {
  margin: 1em auto;
  padding: .5em;
  width: 75%;
  border: none;
  border-bottom: 1px solid #000;
}
/* line 270, ../sass/style.scss */
form textarea {
  height: 4em;
}
/* line 273, ../sass/style.scss */
form button {
  width: 10em;
  height: 2.5em;
  margin: 1em auto;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  background-color: #A53860;
  color: #fff;
  border-radius: .5em;
  cursor: pointer;
}
/* line 284, ../sass/style.scss */
form button:hover {
  background-color: #7f2b4a;
}

/* line 291, ../sass/style.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #A53860;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  /* line 291, ../sass/style.scss */
  footer {
    flex-wrap: wrap;
  }
}
/* line 302, ../sass/style.scss */
footer #foot {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
}
@media (max-width: 480px) {
  /* line 302, ../sass/style.scss */
  footer #foot {
    font-size: 2em;
  }
}
/* line 311, ../sass/style.scss */
footer #social {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
/* line 316, ../sass/style.scss */
footer .text {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}
/* line 320, ../sass/style.scss */
footer a {
  color: #fff;
  text-decoration: none;
}

/* line 326, ../sass/style.scss */
.moar {
  padding-top: 5em;
}

/* line 330, ../sass/style.scss */
.bigish {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 343, ../sass/style.scss */
.o_btn {
  width: 250px;
  height: 60px;
  border-radius: 3px;
  background-color: #A53860;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* line 353, ../sass/style.scss */
.o_btn .fa-arrow-right {
  font-size: 1.5em;
  margin: 0 auto;
  transition: transform .125s linear;
}
/* line 358, ../sass/style.scss */
.o_btn:hover .fa-arrow-right {
  transform: translateX(10px);
}
/* line 361, ../sass/style.scss */
.o_btn span {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  transition: transform .125s linear;
}
/* line 371, ../sass/style.scss */
.o_btn:hover span {
  transform: translateX(30px);
}
/* line 374, ../sass/style.scss */
.o_btn i {
  color: #fff;
  margin: 0 auto;
  display: flex;
}
